/* Global config */
@import "config/variables"; // Your custom variables
@import "config/colors"; // Your custom color scheme
@import "config/settings"; // Default settings file. Uncomment each setting you need to change

/* Foundation 5 */
@import "foundation"; // Foundation 5 by Zurb

/* Site structure */
@import "site/structure"; // Your site structure

/* APPLICATION.SCSS.CSS */

/* globals */
html {
  font-family:'Lato', Arial, sans-serif;
  width:100%;
  height:100%;
}

body {
  font-family:'Lato', Arial, sans-serif;
  display:inline-block;
  width:100%;
  height:100%;
}

p {
  font-family:'Lato',Arial, sans-serif;
  font-weight:300;
  line-height:26px;
  margin-bottom:20px;

  &.larger {
    font-size:1.5rem;
  }
}

html h1,
html h2,
html h3,
html h4,
html h5,
html h6 {
  font-weight: 300;
  &.red-txt {
    color:$dark-red;
  }
  &.blue-txt {
    color: $blue;
  }
  &.green-txt {
    color: $green;
  }
  &.green-txt {
    color: $green;
  }
  &.yellow-txt {
    color: $yellow;
  }
  &.bold {
    font-weight: 500;
  }
  &.divider{
    border-bottom:1px solid #cccccc;
    padding-bottom:6px;
  }
}

/* utilities */
html .red-bg {
  background-color:$red;
  color:white;
  h1, h2, h3, h4, h5, p {
    color:white;
  }
}
html .blue-bg {
  background-color:$blue;
  color:white;
  h1, h2, h3, h4, h5, p {
    color:white;
  }
}
html .yellow-bg {
  background-color:$yellow;
  color:white;
  h1, h2, h3, h4, h5, p {
    color:white;
  }
}
html .green-bg {
  background-color:$green;
  color:white;
  h1, h2, h3, h4, h5, p {
    color:white;
  }
}
html .teal-bg  {
  background: #93d59b;
  color:white;
  h1, h2, h3, h4, h5, p {
    color:white;
  }
}
html .white-bg {
  background-color: white;
}

.hide {
  display: none;
}

.margin-bottom-10 {
  margin-bottom:10px !important;
}

ul.no-bullets {
  list-style: none;
}

ul.lined {
  margin: 15px 0;
  padding: 0;
  list-style: none;
  li {
    margin: 0;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
  }
}

.center {
    text-align: center;
}

.inline {
  display: inline;
}

li .fi-check {
  display: inline;
  color: $green;
}

.alert-box.error {
  background-color: #e3764d;
  border-color: #dd5a28;
  color: white;
}

/* footer */
html main {
  padding-left: 0;
  padding-right: 0;
  min-height: 81%;
  overflow: hidden;
}

article {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

footer#bottom-footer {
  border-top: 1px solid #ccc;
  background: #eeeeee;
  position: relative;
  margin-top: -180px;
  min-height: 180px;
  clear:both;
  .row {
    padding-top: 10px;
  }
  ul{
   margin: 0;
   padding: 0;
   list-style:none;
   &.left{
     float:left;
   }
   &.right{
     float:right;
     text-align:right;
   }
   li{
      display:inline-block;
      width:100%;
      &.header{
        font-weight: bolder;
        color:#666666;
      }
      a, a:visited {
        font-weight: 300;
        text-decoration:none;
        color:#888888;
      }
      a:hover {
        color: #444444;
      }
    }
  }
}


// create mixins using Foundation classes
@mixin twelve-columns {
  @extend .small-12;
  @extend .columns;
  }
@mixin six-columns-centered {
  @extend .small-6;
  @extend .columns;
  @extend .text-center;
  }

// to make views framework-neutral
.column {
  @include six-columns-centered;
  }
.submit {
  @extend .button;
  @extend .radius;
  }

// to make views framework-neutral
main {
  @include twelve-columns;
  }
section {
  @extend .row;
  margin-top: 20px;
  }
a {
  color: #666666;
  &:visited {
    color: #666666;
  }
  &:hover {
    color: #444444;
  }
}

// override for the 'Home' navigation link
.top-bar .name {
  font-size: rem-calc(30);
  font-weight: 300;
  line-height: 60px;
}
.top-bar .right li {
  a {
    font-weight: 300;
    height: 52px;
  }
  border-bottom: 8px solid white;
  min-width: 120px;
  text-align: center;
  &.red {
    border-bottom-color: $red;
    a.active {
      color: white;
      background: $red;
    }
  }
  &.green {
    border-bottom-color: $green;
    a.active {
      color: white;
      background: $green;
    }
  }
  &.blue {
    border-bottom-color: $blue;
    a.active {
      color: white;
      background: $blue;
    }
  }
  &.yellow {
    border-bottom-color: $yellow;
    a.active {
      color: white;
      background: $yellow;
    }
  }
}
.top-bar {
  img.logo {
    width: 40px;
  }
  ul.right li a {
    @include single-transition;
  }
}

// override for the 'breadcrumbs' navigation link
nav.breadcrumbs{
  a{
    &.current{
      font-weight:bold;
    }
    &.unavailable{
      display:none;
    }
    &.right{
      float:right;
    }
    &.noslash{
      &:before{
        content:'';
      }
    }
  }
}

// override for the 'sidebar'
.sidebar {
  background: #eeeeee;
  padding: 32px 20px;
  .side-nav {
    .heading {
      text-transform: uppercase;
    }
    li {
      margin: 0;
      padding: 0;
    }
    li > a:first-child {
      margin: 0 -20px;
      padding: 10px 20px;
      @include single-transition;
    }
    li:hover > a:first-child {
      color: #006887;
      background: rgba(0, 64, 84, 0.03);
    }
  }
}

// override for 'magellan'
ul.magellan{
  margin-left: 0;
  margin-right: 0;
  li{
    height:60px;
    &.active{
      a.button{
        background:$green;
      }
    }
  }
}

[data-magellan-expedition] {
  background-color: transparent;
}
