/**
 * Custom color scheme
 * ----------------------------------------------------------------------------
 */

 /* Colors: */
$light-blue: #87c9ea;
$blue: #319fd4; /*RGB: 49 160 212*/
$dark-blue: #10628a;

$light-green:#93d59b;
$green: #4bab57; /*RGB: 75 171 85*/
$dark-green: #186f23;

$light-red:#f1b199;
$red: #e3764d; /*RGB: 227 117 77*/
$dark-red: #943a19;

$light-yellow:#fedf7d;
$yellow: #fcc614; /*RGB: 252 198 20*/
$dark-yellow:#a47f07;

$light-gray:#eeeeee;
$gray:#dddddd;
$dark-gray:#bbbbbb;

$light-purple:#D5C4FF;
$purple:#A885FF;
$dark-purple:#8656FC;
