/* Colors: */
$light-blue: #87c9ea;
$blue: #319fd4; /*RGB: 49 160 212*/
$dark-blue: #10628a;

$light-green:#93d59b;
$green: #4bab57; /*RGB: 75 171 85*/
$dark-green: #186f23;

$light-red:#f1b199;
$red: #e3764d; /*RGB: 227 117 77*/
$dark-red: #943a19;

$light-yellow:#fedf7d;
$yellow: #fcc614; /*RGB: 252 198 20*/
$dark-yellow:#a47f07;

$teal:#93d59b;

$light-gray:#eeeeee;
$gray:#dddddd;
$dark-gray:#bbbbbb;

$light-purple:#D5C4FF;
$purple:#A885FF;
$dark-purple:#8656FC;

/*  New Site Colors  */
$new-red: #ef5633;
$new-green: #52ba47;
$new-blue: #4aa6d0;
$new-blue-light: #6ea9d1;
$new-gray-dark:#747474;
$new-gray-dark2:#ebebeb;
$new-gray: #f6f6f6;
$new-light-gray: #e9e9e9;
$light-gray-for-borders: #f3f3f3;

$soft-gray-for-text:#555;

/*  Other Variables  */
$white-semi-transparent-background:rgba(255, 255, 255, 0.8);