/*  Nav Bar  */
.top-bar-wrapper {
  background: rgb(255, 255, 255);
  opacity:0.95;
  border-bottom:2px solid $light-gray-for-borders;
}

.top-bar {
  padding-left:rem-calc(54);
  padding-right:rem-calc(54);
  @media #{$small-only} {
    padding-left:rem-calc(10);
    padding-right:rem-calc(10);
  }

  a {
    line-height:inherit;
  }

  .title-area {
    top:1px;
    left:1px;
    .name {
      margin:0;
      padding:0;
      margin-right:3px;
      h1 {
//        font-size:rem-calc(26);
        margin:0;
        padding:0;

        letter-spacing:1px;
        @media #{$small-only} {
          font-size:rem-calc(26);
        }
      }
      img.logo {
        max-height:33px;
        margin:0;
        padding:0;
        margin-top:-6px;
      }
    }
  }

  .toggle-topbar.menu-icon a {
    padding-right:25px;
    text-transform:none;
    &::after {
      content: "";
      position: absolute;
      right: 0;
      display: block;
      width: 16px;
      top: 0;
      height: 0;
      box-shadow: 0 10px 0 1px $primary-font-color, 0 16px 0 1px $primary-font-color, 0 22px 0 1px $primary-font-color;
    }
  }

  .top-bar-section {
    padding-top:1px;
    padding-bottom:-1px;

    li:not(.has-form) a:not(.button) {
      background:transparent;
      &:hover {
        background:$new-light-gray;
      }
    }

    .has-dropdown {
      > a {
        padding-right:rem-calc(30) !important;
        &::after {
          display:inline-block;
          top:14px;
          margin-right:rem-calc(30);

          border:none;
          content:"\02c7";
          font-size:rem-calc(38);
          font-family:"Courier New", monospace;
          font-weight:300;
        }
      }
    }
    .dropdown {
      background:$white-semi-transparent-background;
      li:not(.has-form) a:not(.button) {
        color:inherit;
      }
    }
  }

  &.expanded .title-area {
    background:inherit; // prevents redundant transparent backgrounds on small screens
  }
}

.top-bar-submenu-wrapper {
  margin-top:($topbar-height + 1);

  max-height: $topbar-height;

  overflow-y: hidden;
  transition-property: all;
  transition-duration:0.5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
//  transition-duration:1.5s;
//  transition-timing-function: cubic-bezier(0, 1, 1.5, 1);

  &.closed {
    max-height:0;
  }
}

.top-bar-horizontal-submenu {
  max-height:100%;
  &.closed {
    display:none;
  }
  li {
    margin:0;

    &:before {
      content:none;
    }
  }
}

.fixed.expanded:not(.top-bar) {
  .title-area {
    position:relative; // prevents side whitespace from being reset when menu is expanded
  }
  .top-bar-section {
    margin-top:0; // overrides top margin that's no longer necessary b/c we changed .title-area from fixed to relative
  }
}


/*  Page Title  */
.horizontal-pane {
  padding-top:rem-calc(92);
  padding-bottom:rem-calc(60);
  width:100%;
  &:nth-child(even){
    background:$new-gray;
  }
}

.horizontal-pane.page-title {
  padding-top:rem-calc(25);
  padding-bottom:rem-calc(25);
  margin-bottom:rem-calc(35);
}
.page-title {
  width:100%;
  
  padding-top:rem-calc(12.5);
  padding-bottom:rem-calc(12.5);
  
  &.with-subtitle {
    padding-top:0;
    padding-bottom:0;
    margin-top:rem-calc(-5);
    margin-bottom:rem-calc(-5);
  }
  
  text-align:center;
  
  h2 {
    margin:0;
    padding:0;
    letter-spacing:0;
  }
  ol {
    margin-bottom:0;
    
    @media #{$medium-up} {
      margin: 0 auto 1.0625rem auto;
      margin-right: 0;
      padding: 0;
      li {
        float:left;
        display: list-item;
        list-style: inherit;
        margin-left: 2.25rem;        
      }
    }
    
    li {
      padding-top:rem-calc(10);
      font-weight:300;
            
      &.current-step {
        font-weight:500;
      }
    }
  }
}


/*  Magellan Intra-Page Nav  */

$magellan-link-vertical-padding:rem-calc(10);
$magellan-link-horizontal-padding:rem-calc(16);

.horizontal-pane.has-magellan {
  padding:0;
}

section.magellan-page-nav {
  .magellan-container {
    top:58px !important;
    @media #{$small-only}, #{$medium-only} {
      top:57px !important;
    }
    &>.row {
      max-width:none;
      padding-right:rem-calc(59);
      padding-left:rem-calc(59);
      @media #{$small-only} {
        padding-right:rem-calc(29);
        padding-left:0;
      }
      &>.columns {
        padding-left:0;
        padding-right:0;
        &>.sub-nav {
          margin-right:0;
          margin-left:0;
        }
      }
    }
  }
  .magellan-container+.magellan-container {  // This selects the magellan while it's in the sticky state.
    background:white;
    opacity:0.95;
    border-bottom: 1px solid $light-gray-for-borders;
  }
  dd {
    padding:0;
    padding-top:rem-calc(6);
    padding-bottom:rem-calc(6);
    margin:0;
    color:$primary-font-color;
    
    &.button a {
      color:white;
    }
    
    &:not(.button) a, &:not(.button) a:visited {
      color:$primary-font-color;
      font-size:rem-calc(16);
      padding-top:$magellan-link-vertical-padding;
      padding-bottom:$magellan-link-vertical-padding;
      &:hover {
        background:$new-light-gray;
        color:$primary-font-color;
      }
    }
    
    &.subnav-title+dd a {
      border-left:2px solid #c0c0c0;        
    }

//    &:nth-child(2) {
//      border-left:2px solid #c0c0c0;
//    }
    
    &.subnav-title {
      font-size:rem-calc(18);
      padding-right:rem-calc(16);
    }
    
    &.active > a {
      padding:$magellan-link-vertical-padding $magellan-link-horizontal-padding;
      background:$new-light-gray;
      border-radius:0;
      color:$primary-font-color;
      &:hover {
        background:$new-light-gray;
        color:$primary-font-color;
      }
    }
  }
}

/*  posts  */
article.post {
  padding-bottom:10px;
  
  figure {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    }
  &:nth-child(odd) img {
    float:left;

    padding-right:25px;
    padding-bottom:25px;
  }

  &:nth-child(even) img {
    float:right;

    padding-left:25px;
    padding-bottom:25px;
  }
}

/*  sidebar  */
aside#sidebar {
  ul {
    list-style:none;
    margin-left:0;
  }
}

/*  Footer  */
html .main-content, html main {
  padding-left: 0;
  padding-right: 0;
//  min-height: 100%;
  overflow: hidden;
  footer {
    z-index:31;
  }
}

footer.for-the-page {
  background: $new-gray;
  z-index:1;
  position: relative;
  clear:both;

  padding-bottom: 20px;
  min-height: 180px;

  border-top: 3px solid white;
  .row {
    padding-top: 10px;
  }
  ul{
   margin: 0;
   padding: 0;
   list-style:none;
   &.left{
     float:left;
   }
   &.right{
     float:right;
     text-align:right;
   }
   li {
      display:inline-block;
      width:100%;
      &.header{
        font-weight: bolder;
      }
      a, a:visited {
        font-weight: 300;
        text-decoration:none;
        color:$soft-gray-for-text;
      }
    }
    .contact-link {
      &:before {
        margin-right:5px;
      }
    }
  }
  .copyright-info ul li {
    font-size:rem-calc(26);
    font-weight:400;
    a {
      font-weight:400;
    }
    padding-bottom:rem-calc(5);
    &.copyright-notice {
      font-size:rem-calc(20);
    }
  }
}

@media #{$small-only} {
  footer .copyright-info {
    text-align:left !important;
  }
}

@media #{$medium-only}, #{$large-only} {
  footer .row {
    padding-left:25px;
    padding-right:25px;
  }
}

